.form {
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 1.21;
    font-size: 14px;
    background-color: #F6F7FB;
    width: 320px;
    flex-direction: column;

    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    /* @media screen and (min-width: 320px) and (max-width: 767px) {
    width:320px;
};
@media screen and (min-width: 768px) and (max-width:999px){
    width:500px
};
@media screen and (min-width:1000px){
    width:900px;
} */
}


.label {
    margin-bottom: 8px;
    color: #898F9F;
}

.input {
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
}
input.input_erorr,
select.input_erorr {
    border-color: red;
}

.button {
    height: 42px;
    width: 171px;
    margin: 0 auto;
    margin-top: 20px;
}