.container {
    padding: 20px 20px 128px 20px;
    margin: 0 auto;
    width: 320px;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .container {
        padding:  32px;
        width: 768px;
    }
}

@media (min-width: 1280px) {
    .container {
        padding: 0 16px;
        width: 1280px;
    }
}
.form {
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 1.21;
    font-size: 14px;
    background-color: #F6F7FB;
    width: 320px;
    flex-direction: column;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 110px;
    padding-top: 24px;
    margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .form {
    width: 768px;
    padding:32px 32px;
  }
}

@media (min-width: 1280px) {
  .form {
    
       width: 1280px;
    padding: 40px 16px;
    
  }
}
.icon{
margin-bottom: 32px;
}
.label {
    color: #898F9F;
    }

.input {
    margin-top: 8px;
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
}

/* input.input_erorr,
select.input_erorr {
    border-color: red;
} */
.input_container{
    display: flex;
}

.input_block_author{
    min-width: 336px;
    margin-right: 32px;
}

.input_block_date{
    min-width:152px;
    margin-right: 32px;
}

.input_block_pages{
   min-width:152px;
}
.input_block_title{
    width: 346px; 
    margin-right: 16px;
    
}
@media (min-width: 1280px) {
    .input_block_author {
        min-width: 250px;
        margin-right: 16px;
    }

    .input_block_date {
        width: 134px;
        margin-right: 16px;
    }

    .input_block_pages {
        width: 134px;
        margin-right: 16px;
    }
}

.button {
    height: 42px;
    width: 171px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
}
@media (min-width: 1280px) {
    .button{
        width: 181px;
        margin-top: 24px;
        margin-left: 32px;
    }
}