.container {
  background-color: var(--color-main-background);
  padding: 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 32px;
  }
}
@media (min-width: 1280px) {
  .container {
    padding: 28px 16px;
  }
}
