.section {
  width: 280px;
  background: var(--color-secondary-background);
  margin: 0 auto 32px;
}
.container {
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
  margin-top: 20px;
  padding: 20px;
}

.grid {
  --ag-checkbox-checked-color: var(--color-main-accent);
  --ag-header-foreground-color: var(--color-secondary-accent);
  --ag-checkbox-indeterminate-color: grey;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

@media (min-width: 768px) {
  .checkBoxCont {
    margin-top: 10px;
  }
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label span {
    border: 2px solid lightgrey;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
  }

  input[type="checkbox"]:checked + label span::after {
    content: "";
    background: url("../../img/checkbox.svg") no-repeat left;
    background-size: cover;
    border: 0px;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .section {
    width: 704px;
  }
}
@media (min-width: 1280px) {
  .section {
    width: 928px;
    margin: 0 auto;
  }
}
