.chartSectionWrapper {
  width: 280px;
  min-height: 290px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.25);
}

.amountWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amountLabel {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #242a37;
  margin: 0 8px 0 0;
}

.amountBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  min-height: 25px;
  background-color: #f5f7fa;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  color: #242a37;
  margin: 0;
}

.lineTitleBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lineTitleValue {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  min-width: 50px;
  background: #f5f7fa;
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
  line-height: 1.25;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;

  color: #091e3f;
}

.lineTitleValue + .lineTitleValue {
  margin-left: 10px;
  color: #ff6b08;
}

.chartWrapper {
  position: relative;
  width: 236px;
  min-height: 290px;
  margin-bottom: 20px;
}

.chartInfoWrapper {
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .chartSectionWrapper {
    width: 704px;
    min-height: 340px;
    margin-bottom: 30px;
  }

  .chartWrapper {
    width: 607px;
    height: 215px;
  }

  .chartInfoWrapper {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 50px;
    margin-top: 35px;
  }

  .lineTitleBox {
    margin-left: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .chartSectionWrapper {
    width: 928px;
    margin-right: 32px;
  }

  .chartWrapper {
    width: 811px;
  }
  .lineTitleBox {
    margin-left: 150px;
  }
}
