.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  overflow-y: auto;
  top: 0;
}

.modal {
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  overflow: auto;
  max-height: 222px;
  width: 280px;
  padding: 48px 21px;
  top: 50%;
  left: 50%;
  box-shadow: 10px 10px 20px rgba(9, 30, 63, 0.2);
  transform: translate(-50%, -50%) scale(1);
}

@media (min-width: 768px) {
  .modal {
    width: 394px;
    height: 204px;
    padding: 48px 52px;
  }
}

.description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #242a37;
  margin: 0 0 20px 0;
}

@media (min-width: 768px) {
  .description {
    margin: 0 0 24px 0;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97px;
  height: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  border: 1px solid #242a37;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(9, 30, 63, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .button {
    width: 130px;
    height: 40px;
  }
}

.button:hover {
  color: white;
  background: #ff6b08;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:not(:last-child) {
  margin-right: 16px;
}

@media (min-width: 768px) {
  .button:not(:last-child) {
    margin-right: 30px;
  }
}
