@media (min-width: 768px) and (max-width: 1279px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
}

@media (min-width: 1280px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
}

.selector {
    width: 280px;
    height: 42px;
    background: #FFFFFF;
    box-shadow: inset 0px 1px 2px rgba(29, 29, 27, 0.15);
}

@media (min-width: 768px) and (max-width: 1279px) {
    .selector {
        width: 483px;
    }
}

@media (min-width: 1280px) {
    .selector {
        width: 715px;
    }
}

.button {
    margin-top: 32px;
    width: 171px;
    height: 42px;
    background-color: #F6F7FB;
    border: 1px solid #242A37;
    margin-bottom: 20px;
}

@media (min-width: 1280px) {
    .button {
        width: 181px;
        margin-left: 32px;
    }
}

@media (min-width: 768px) {
    .button {

        margin-left: 72px;
    }
}

.text {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;

}

/* .css-6j8wv5-Input{
    visibility: collapse;
    height: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    
} */

