.timerCell {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0;
}
.timerCell:first-child {
  margin-left: 0;
}
.timerCell:last-child {
  margin-right: 0;
}

.cellValue {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  margin-bottom: 1px;
}
.cellType {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #898f9f;
}
