.button {
    background-color: #F6F7FB;
    ;
    border: none;
    width: 14px;
    height: 18px;

}

.svg {
    width: 14px;
    height: 18px;

}

.wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    font-size: 12px;
    color: #242A37;
    width: 280px;
    height: fit-content;
    border-bottom: #E0E5EB 1px solid;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100px;

}

.row {
    display: flex;
    flex-direction: row;
}

.bigColumn {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 20px;
    margin-left: 20px
}

.cell{
    height: 25px;
}

.title{
    font-family: Montserrat;
    font-size: 12px;
    color:#242A37;
    height: 30px;
    width: 200px;
}

.width{
    width: 200px;
    overflow-wrap: break-word;
   
}

.description {
    display: flex;
    margin: 0;
    align-items: center;
    overflow-wrap: break-word;
  }
  
  .description:not(:last-child) {
    margin-bottom: 14px;
    max-width: 240px;
  }
  
  .key {
    width: 81px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #898f9f;
  }
  
  .property {
    display: block;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #242A37;
    margin: 0;
    margin-left: 10px;
    height: auto;
    width: 150px;
    overflow-wrap: break-word;
  }
.title{
    color: #242A37;
}
  .box {
    display: block;
    width: 191px;
    overflow-wrap: break-word;
  }
input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label span {
    border: 1px solid lightgrey;
    display: inline-block;
    width: 20px;
    height: 20px;
}

input[type=checkbox]:checked+label span::after {
    content: "";
    background: url("../../img/checkbox.svg") no-repeat left;
    background-size: cover;
    border: 0px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;

}