.showCounter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1px 33px 8px;
  text-align: center;
  font-weight: 700;
  color: #091e3f;
  background-color: #ffffff;
  box-shadow: 4px 4px 8px rgba(36, 42, 55, 0.15);
}

.separator {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
}
