.Overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  overflow-y: auto;
  top: 0;
  z-index: 5;
}

.Modal {
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  overflow: auto;
  width: 280px;
  padding: 48px 21px;
  top: 50%;
  left: 50%;
  box-shadow: 10px 10px 20px rgba(9, 30, 63, 0.2);
  transform: translate(-50%, -50%) scale(1);
}

@media (min-width: 768px) {
  .Modal {
    width: 394px;
    padding: 48px 52px;
  }
}
