:root{
  --color-grey-lite: #F6F7FB;
  --color-text: #242A37;
  --color-orang: #FF6B08;
  --color-grey:#6D7A8D;
  --color-background:rgba(43, 43, 43, 0.1);
  --color-icon: #A6ABB9;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
