/* :root {
  --color-grey-lite: #f6f7fb;
  --color-text: #242a37;
  --color-orang: #ff6b08;
  --color-grey: #6d7a8d;
  --color-background: rgba(43, 43, 43, 0.1);
  --color-icon: #a6abb9;
} */
@import url("./fonts/font.css");
@import url("./colors.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
